* {
  padding: 0;
  margin: 0;
}

#productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.formContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms {
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 32px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
